@font-face {
	font-family: hamster;
	src: url('../fonts/hamster.otf');
}

body {
	background-color: white;
	font-family: 'Josefin Sans', sans-serif;
}

.heading {
	text-align: center;
	font-family: 'hamster', sans-serif;
	font-size: 2.6rem;
	color: grey;
}

.new-items {
	display: none;
	text-align: center;
	margin-bottom: 3rem;
}

input[type=text], input[type=submit] {
	padding: 0.7rem 1rem;
	box-sizing: border-box;
	color: #3d3c3d;
}

input[type=submit] {
	background-color: grey;
	color: white;
	border: 0.2rem solid grey;
	border-radius: 0.4rem;
}

.lists {
	display: table;
	width: 100%;
	border-spacing: 2rem;
}
.lists > section {
	display: table-cell;
	width: 33%;
	background-color: lightblue;
	box-shadow: 0.26rem 0.26rem 0.8rem grey;
}

.lists .list-heading {
	
	background-color: steelblue;
	margin-top: -1.2rem;
	color: white;
	text-align: center;
}

h2 {
	margin-top: auto;
	margin-bottom: auto;
	padding-top: 1.7rem;
	padding-bottom: 1.7rem;
}

p {
	margin-top: -4rem;
	margin-right: 1.7rem;
	float: right;
	font-size: 2.2rem;

}

li {
	display: block;
}