@font-face {
	font-family: hamster;
	src: url('../fonts/hamster.otf');
}

body {
	background-color: white;
	font-family: 'Josefin Sans', sans-serif;
}

.heading {
	text-align: center;
	font-family: 'hamster', sans-serif;
	font-size: 2.6em;
	color: grey;
}

.new-items {
	text-align: center;
	margin-bottom: 3rem;
}

.lists {
	display: table;
	width: 100%;
	border-spacing: 2em;
}
.lists > section {
	display: table-cell;
	background-color: lightblue;
	box-shadow: 0.26em 0.26em 0.8em grey;
}

.lists .list-heading {
	
	background-color: steelblue;
	margin-top: -1.2em;
	color: white;
	text-align: center;
}

h2 {
	margin-top: auto;
	margin-bottom: auto;
	padding-top: 1.7rem;
	padding-bottom: 1.7rem;
}

p {
	margin-top: -4rem;
	margin-right: 1.7rem;
	float: right;
	font-size: 2.2em;
}

.list {
}

.on-list, .in-cart, .discarded {
}

li {
	display: block;
}